body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#fiap-logo {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
}