body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')
}
.fiap-logo{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}
.titulo-curso{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.imagem-curso{
    box-shadow: 10px 10px 10px darkgray;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}
.subtitulo-curso{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.texto-curso{
    text-align: center;
    font-size: 16px;
    font-weight: 20px;
}
.links{
    text-align: center;
}